@import '../../scss/mixins.scss';
.form {
  display: flex;
  flex-direction: column;
  row-gap: 21px;
  margin-top: 34px;
  margin-left: auto;
  margin-right: auto;
  padding: 48px 32px;
  width: 940px;
  background-color: var(--background-color-base);
  border-radius: 6px;
  @include shadow-1;
}

.title {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #262626;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  & p {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: var(--error-color);
  }
}

.inputTitle {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #262626;
}

.inputArea {
  height: 40px;
  width: 100%;
  padding: 0 12px;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-color);
  border: 1px solid var(--normal-color);
  border-radius: 4px;
  &::placeholder {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #bfbfbf;
  }
}

.textArea {
  resize: none;
  height: 170px;
  padding-top: 7px;
}

.inputInvalid {
  border-color: var(--error-color);
  &:focus {
    outline: 1px solid var(--error-color);
  }
}

.tagsContainer {
  display: flex;
  column-gap: 17px;
}

.tagList {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.tagItem {
  display: flex;
  column-gap: 17px;
}

.tagInput {
  width: 300px;
}

.tagAdd {
  align-self: flex-end;
  height: 40px;
  width: 136px;
  border: 1px solid var(--info-color);
  border-radius: 4px;
  background-color: transparent;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--primary-color);
}

.tagDelete {
  align-self: flex-end;
  height: 40px;
  width: 120px;
  border: 1px solid var(--highlight-color);
  border-radius: 4px;
  background-color: transparent;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--highlight-color);
}

.submit {
  border: none;
  height: 40px;
  width: 320px;
  border-radius: 4px;
  padding: 8px 16px;
  background-color: var(--primary-color);
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--background-color-base);
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
  &:disabled {
    background-color: var(--background-color-base);
    cursor: auto;
    &:hover {
      opacity: 1;
    }
  }
}

.toSignUp {
  margin-top: -13px;
  text-align: center;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;
  text-align: center;
  color: #8c8c8c;
  & a {
    color: var(--primary-color);
    transition: all 0.3s ease;
    &:hover {
      opacity: 0.7;
    }
  }
}
