@import '../../scss/mixins.scss';
.article {
  max-width: 940px;
  width: 100%;
  min-height: 140px;
  padding: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--background-color-base);
  display: flex;
  flex-wrap: wrap;
  row-gap: 25px;
  justify-content: space-between;
  align-items: start;
  @include shadow-2;
  margin-top: 26px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  flex-shrink: 3;
}

.titleContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  @include header-5;
  color: var(--info-color);
  font-weight: inherit;
  margin-right: 13px;

  &:hover {
    opacity: 0.5;
  }
}

.inactiveLike {
  @include like;
  background-image: url('./inactive-like.svg');
}

.likesCount {
  @include small-text;
  color: var(--text-color);
  margin-left: 5px;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  padding: 0 5px;
  border: 1px solid var(--text-color-secondary);
  border-radius: 2px;
  color: var(--text-color-secondary);
  @include small-text;
}

.description {
  @include small-text;
  color: var(--text-color);
  padding-right: 15px;
}

.user {
  min-width: 150px;
  display: flex;
  flex-direction: column;
}

.userContainer {
  display: flex;
  justify-content: flex-end;
  column-gap: 12px;
}

.userTextBlock {
  display: flex;
  flex-direction: column;
  row-gap: -5px;
}

.userName {
  @include header-6;
  color: var(--heading-color);
  text-align: right;
}

.date {
  @include small-text;
  color: var(--text-color-secondary);
  text-align: right;
}

.userAvatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit: cover;
}

.buttonsContainer {
  margin-top: auto;
  display: flex;
  justify-content: end;
  column-gap: 12px;
}

.deleteArticle {
  height: 30px;
  width: 80px;
  border: 1px solid var(--highlight-color);
  border-radius: 4px;
  background-color: transparent;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--highlight-color);
}

.editArticle {
  height: 30px;
  width: 65px;
  border: 1px solid var(--success-color);
  border-radius: 4px;
  background-color: transparent;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--success-color);
}

.fullArticle {
  width: 100%;
  min-height: 60vh;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 157%;
  color: var(--text-color);
  & * {
    word-break: keep-all;
    text-wrap: pretty;
  }
  & p,
  ul,
  ol {
    margin-bottom: 20px;
  }

  & ul,
  ol {
    list-style: inside;
  }

  & h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
  }

  & h1 {
    font-size: 20px;
    line-height: 140%;
  }
  & h2 {
    font-size: 18px;
    line-height: 140%;
  }
}
